* * * * * /root/env.sh
* * * * * su phpuser -c "source /tmp/env1 && /usr/local/bin/php /opt/app-root/src/admin/cli/cron.php" >> /proc/1/fd/1
0-58/2 * * * *  /bin/echo 'tick' >> /var/log/cron
1-59/2 * * * *  /bin/echo 'tock' >> /var/log/cron


